# =====================================
# Virtual Environment
# =====================================

venv/
.venv/

# =====================================
# Environment Variables
# =====================================

.env

# =====================================
# Python
# =====================================

__pycache__/
*.pyc
*.pyo
*.pyd

# =====================================
# Pytest
# =====================================

.pytest_cache/

# =====================================
# IDE
# =====================================

.idea/
.vscode/

# =====================================
# Playwright
# =====================================

playwright-report/
test-results/

# =====================================
# Logs
# =====================================

*.log

# =====================================
# Generated Framework
# =====================================

generated_framework/

# =====================================
# Generated Outputs
# =====================================

output/

# =====================================
# Temporary Files
# =====================================

*.tmp
*.bak